*.tmp
*.jbf


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


##############
## Sourceboost
##############
*.asm
*.brws
*.casm
*.cof
*.lst
*.map
*.obj
*.stat
*.tree
makefile.*
MIDI-Hub.hex
PIC16F15345/build/*
PIC16F15345/dist/*
